$icomoon-font-family: "stgv" !default;

$stgv-telepherique: "\e907";
$stgv-warning: "\e90d";
$stgv-star: "\e912";
$stgv-snow: "\e915";
$stgv-beginer: "\e919";
$stgv-line_arrow: "\e91a";
$stgv-family: "\e910";
$stgv-persone: "\e911";
$stgv-flash: "\e914";
$stgv-plain: "\e916";
$stgv-train: "\e917";
$stgv-car: "\e918";
$stgv-calendar: "\e906";
$stgv-menu: "\e900";
$stgv-cross: "\e902";
$stgv-cart: "\e90f";
$stgv-user: "\e90e";
$stgv-help: "\e903";
$stgv-exchange: "\e904";
$stgv-ticket: "\e905";
$stgv-chevrron: "\e91b";
$stgv-chevrron-light: "\e913";
$stgv-arrow: "\e901";
$stgv-facebook: "\e908";
$stgv-Instagram: "\e909";
$stgv-LinkedIn: "\e90a";
$stgv-YouTube: "\e90b";
$stgv-Twitter: "\e90c";
