.uam_label {
  @include fontStyle(700, 22px, 25px);
  display: inline-block;
  padding: 10px;
  border-radius: 30px;
  color: $color-grey;
  background-color: rgba($color-white, 0.8);
  font-family: $font-Montserrat;
  white-space: nowrap;
}
