&_insta {
  > * {
    position: relative;

    &:before {
      content: '\e904';
      position: absolute;
      z-index: -1;
      top: -30px;
      right: 0;
      color: $color-medium-white;
      font-size: 157px;
      font-family: $font-icon;
    }
  }

  &_logo {
    margin: 0 auto;
    display: block;
    width: 155px;
    height: 130px;
    background: url('../images/insta@2x.png') no-repeat center;
    background-size: 100%;
  }

  &_title {
    display: none;
  }

  &_grid {
    margin-top: 30px;
  }

  &_grid,
  .instagram_gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .instagram_gallery > * {
    width: 25%;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: auto;
      transform: scale(1);
      transition: transform 0.3s ease-in-out;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
}

@media (min-width: 1440px) {
  &_insta_grid {
    margin-left: -150px;
    margin-right: -150px;
    width: calc(100% + 300px);
  }
}

@media (max-width: 1200px) {
  &_insta {
    .instagram_gallery > * {
      width: 33.33%;
    }
  }
}

@media (max-width: 768px) {
  &_insta {
    > * {
      &:before {
        top: 89px;
        right: -18px;
        font-size: 100px;
      }
    }
  }
}

@media (max-width: 599px) {
  &_insta {
    .instagram_gallery > * {
      width: 50%;
    }
  }
}
