&_videos {
  margin-top: 80px;

  &:before,
  > *:before {
    position: absolute;
    z-index: -1;
  }

  &:before {
    content: '';
    top: 122px;
    left: -12px;
    width: calc(100% + 24px);
    height: 62%;
    background-color: $color-medium-white;
    transform: skewY(-9deg);
  }

  > * {
    padding: 0 70px 0 128px;
    position: relative;

    &:before {
      content: '\e904';
      top: 146px;
      left: -5px;
      color: $color-white;
      font-size: 157px;
      font-family: $font-icon;
      transform: rotate(-180deg);
    }
  }

  &_item {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }

  &_col {
    width: calc(100% - 470px - 78px);

    &.uam_ci_videos_wrapper {
      margin-left: 78px;
      width: 100%;
      max-width: 470px;
    }
  }

  &_wrapper {
    position: relative;
    z-index: 0;

    > * {
      max-width: 100%;
    }
  }

  &_footer {
    margin: 80px 0;
    display: flex;
    justify-content: center;

    > * {
      margin: 0 10px;
    }
  }

  &_title {
    text-align: right;
  }

  &_date {
    text-transform: uppercase;
    color: $color-orange;
    font-family: $font-Teko;
    font-weight: 600;
    font-size: 22px;
    line-height: 0.8;
  }

  &_subtitle {
    margin: 14px 0 15px;
  }
}

@media (max-width: 1200px) {
  &_videos {
    > * {
      padding: 0 60px;
    }
  }
}

@media (max-width: 1024px) {
  &_videos {
    &_footer {
      margin: 40px 0;
      flex-direction: column;
      align-items: center;

      > * {
        margin: 10px 0;
      }
    }
  }
}

@media (max-width: 991px) {
  &_videos {
    &:before {
      height: 70%;
    }

    &_item {
      flex-direction: column;
    }

    &_col {
      width: 100%;

      &.uam_ci_videos_wrapper {
        margin: 15px -15px 30px;
        width: calc(100% + 30px);
      }
    }
  }
}

@media (max-width: 768px) {
  &_videos {
    > * {
      padding: 0;

      &:before {
        font-size: 100px;
      }
    }

    &_subtitle {
      font-size: 25px;
    }
  }
}

@media (max-width: 599px) {
  &_videos {
    margin-top: 40px;
  }
}
