// Settings [no css generation]
// @import '../utils/variables';
@import 'setting/fonts';
@import 'setting/variables';

// Tools [no css generation]
@import 'Tools/mixins';

// Layout
@import 'layout/header';

//base
@import 'base/reset';
@import 'base/image';
@import 'base/link';

// - Atoms
@import 'components/Atoms/headerLogo';
@import 'components/Atoms/headerMenuIcon';
@import 'components/Atoms/footerTitle';

// - Molecules
@import 'components/Molecules/headerMenu';
@import 'components/Molecules/blockHeaderTitle';
@import 'components/Molecules/footerDomaine';
@import 'components/Molecules/footerPayment';
@import 'components/Molecules/footerLinkList';

// - Organisms
@import 'components/Organisms/footerLinks';
@import 'components/Organisms/footerFooter';

// - Template
@import 'components/Template/blockHeader';
@import 'components/Template/footer';

// Utilities
@import 'Utilities/sortCode';
@import 'Utilities/container';
